<h2> Kindly Confirm Your Identity </h2>

<%= flash[:message] %>


<%= form_with scope: :confirm, url: switch_disable_path, local: true do |form| %>
	<%= form.label :confirm_password %>
	<%= form.password_field :password, placeholder: 'Confirm Password' %> <br>
	
	<%= form.submit 'Confirm' %>
<% end %>
